@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    @font-face{
        font-family:"Dana";
        src:local("Dana") , url("../public/Fonts/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format('woff2');
        font-display: swap;
    }
     @font-face{
        font-family:"Dana Meduim";
        src:local("Dana Meduim") , url("../public/Fonts/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format('woff2');
        font-display: swap;
    }
     @font-face{
        font-family:"Dana Bold";
        src:local("Dana Bold") , url("../public/Fonts/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format('woff2');
        font-display: swap;
    }
     @font-face{
        font-family:"Morabba Light";
        src:local("Morabba Light") , url("../public/Fonts/fonts/Morabba/woff2/Morabba-Light.woff2") format('woff2');
        font-display: swap;
    }
     @font-face{
        font-family:"Morabba Medium";
        src:local("Morabba Medium") , url("../public/Fonts/fonts/Morabba/woff2/Morabba-Medium.woff2") format('woff2');
        font-display: swap;
    }
     @font-face{
        font-family:"Morabba Bold";
        src:local("Morabba Bold") , url("../public/Fonts/fonts/Morabba/woff2/Morabba-Bold.woff2") format('woff2');
        font-display: swap;
    }
        @font-face {
    font-family: "YekanBakh Regular";
    src:local("YekanBakh Regular") , url("./../public/Fonts/fonts/YekanBakh-Regular.woff");
}
@font-face {
    font-family: "YekanBakh Medium";
    src:local("YekanBakh Medium") , url("./../public/Fonts/fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family: "YekanBakh Heavy";
    src:local("YekanBakh Heavy") , url("./../public/Fonts/fonts/YekanBakh-Heavy.woff");
}
@font-face {
    font-family: "YekanBakh Bold";
    src:local("YekanBakh Bold") , url("./../public/Fonts/fonts/YekanBakh-Bold.woff");
    font-display: swap;
}
}